---
import GithubButton from "../components/GithubButton.astro";
const data = {
  cardColor: "bg-gradient-to-br from-[#4E6E81]/80 via-slate-800 to-slate-800",

  title: "TG Connect",
  description: "A monitoring and data collection system 📊",
  repo: "https://github.com/hilmyha/tg-connect-v2",
  descriptions: [
    "a monitoring and data collection system that provides a variety of data collection and monitoring information. It also provides a platform for users to share their reporting and information.",
    "This project is a final project on my campus. I made to learn more about React Native and Laravel REST API. I also made this project to help people who want to monitoring, sharing a report and information.",
    "This app still in development, my plan is to merge this server with Express.js.",
  ],
  features: ["Monitoring data", "Collecting data", "Sharing report"],
  devicons: [
    "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg",
    "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg",
  ],
  images: [
    "project-img/tgconnect/register.png",
    "project-img/tgconnect/login.png",
    "project-img/tgconnect/home.png",
    "project-img/tgconnect/informasi.png",
    "project-img/tgconnect/laporan.png",
    "project-img/tgconnect/panicbutton.png",
    "project-img/tgconnect/admin.png",
  ],
};
---

<!-- Card Section -->
<div
  class=`lg:py-32 lg:px-16 px-8 py-20 lg:rounded-[64px] rounded-3xl lg:mt-20 mt-10 delay-[20ms] duration-[600ms] [animation-iteration-count:infinite] taos:translate-y-[200px] taos:opacity-0 ${data.cardColor}`
  data-taos-offset="300"
>
  <h3 class="mb-8">
    <span class="lg:text-4xl text-2xl font-bold text-white">
      {data.title}
    </span><span class="lg:text-lg text-sm font-medium text-slate-300">
      - {data.description}
    </span>
  </h3>
  <p class="lg:text-lg text-white mb-8">
    <span class="font-bold">Intoducing {data.title} -</span>
    {data.descriptions[0]}
  </p>

  <!-- Card Content -->
  <div
    class="flex snap-mandatory snap-x gap-6 my-2 lg:my-4 bg-blue overflow-x-scroll no-scrollbar"
  >
    {
      data.images.map((image, index) => (
        // buat agar image bisa di swipe
        <div class="snap-center lg:p-3 p-2 bg-slate-400/30 shadow-xl rounded-2xl flex-none w-auto h-auto">
          <img
            src={image}
            alt="project-image"
            class="object-cover lg:h-[420px] h-[300px] w-full rounded-lg"
          />
        </div>
      ))
    }
  </div>

  <p class="lg:text-lg text-white my-8">
    {data.descriptions[1]}
  </p>
  <p class="lg:text-lg underline text-white my-8">
    {data.descriptions[2]}
  </p>

  <h4 class="lg:text-2xl text-lg text-white font-semibold">Features</h4>
  <ul class="lg:text-lg text-white list-disc pl-6 mt-4">
    {data.features.map((feature) => <li>{feature}</li>)}
  </ul>

  <GithubButton name={data.title} repo={data.repo} />

  <h4 class="mt-12 lg:text-2xl text-lg text-white font-semibold">
    Featured technology used
  </h4>

  <div class="flex lg:gap-10 gap-5 lg:mt-12 mt-8 flex-wrap">
    {
      data.devicons.map((devicon) => (
        <img class="lg:h-20 h-10 my-0" src={devicon} />
      ))
    }
  </div>
</div>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ion-icon {
    font-size: 42px;
  }
</style>
