---
import BlogLayout from "./BlogLayout.astro";
import RelatedPostList from "../components/RelatedPostList.astro";

import { getEntry, getCollection } from "astro:content";
const { frontmatter } = Astro.props;

// Fetch full data for related posts
const fetchRelatedPosts = async () => {
  const postsPromises = frontmatter.relatedPosts.map(async (related: any) => {
    const post = await getEntry(related.collection, related.slug);
    return post;
  });

  const posts = await Promise.all(postsPromises);
  return posts.filter((post) => post.data.draft !== true);
};

const relatedPosts = await fetchRelatedPosts();

// Fetch other posts that are not related
const fetchOtherPosts = async () => {
  const posts = await getCollection("posts");

  // Gunakan frontmatter.id jika tersedia, atau gunakan slug sebagai fallback
  const currentPostTitle = frontmatter.title;

  return posts
    .filter((post) => {
      const postTitle = post.data.title;
      return postTitle !== currentPostTitle;
    })
    .slice(0, 2);
};

const otherPosts = await fetchOtherPosts();
---

<BlogLayout title=`${frontmatter.title} | Whodareuu`>
  <div class="bg-gradient-to-br from-slate-500 to-slate-700">
    <!-- header -->
    <header
      class="container tracking-[-0.05em] max-w-screen-lg lg:px-20 px-6 pt-12 pb-20"
    >
      <a
        href="/posts"
        class="flex items-center gap-4 text-sm font-light text-slate-100 mb-20"
      >
        <ion-icon name="chevron-back-outline"></ion-icon>
        <span> Back to posts </span>
      </a>
      <p class="mb-2 text-base font-light text-slate-200 w-2/3">
        {
          frontmatter.tags.map((tag: any) => (
            <span class="mr-2 bg-slate-700/80 rounded-sm font-normal text-slate-100 capitalize text-xs px-2 py-1 w-fit">
              #{tag}
            </span>
          ))
        }
      </p>
      <h1 class="mb-1 lg:text-4xl text-3xl font-medium text-white w-2/3">
        {frontmatter.title}
      </h1>
      <p class="text-base font-light text-slate-200 w-2/3">
        Created on {
          frontmatter.date.toLocaleDateString(undefined, {
            dateStyle: "long",
            timeZone: "UTC",
          })
        }
      </p>
    </header>
  </div>
  <!-- posts -->
  <section class="container max-w-screen-lg lg:px-20 px-6 pt-16 pb-16">
    <div
      class="mt-8 text-base font-[350] text-slate-700 leading-5 prose-slate prose-a:text-slate-600 hover:prose-a:text-slate-800 prose-p:text-justify sm:prose-img:w-[420px] prose-img:w-full prose lg:prose-md min-w-full"
    >
      <slot />
    </div>
  </section>

  <!-- related post -->
  <section class="container max-w-screen-lg lg:px-20 px-6 pt-16 pb-12">
    <h2 class="lg:mb-6 mb-3 text-xl font-semibold text-slate-700">
      Related Posts
    </h2>
    {
      relatedPosts.length > 0 ? (
        <div class="grid lg:grid-cols-2 gap-6 mt-1">
          {relatedPosts.map((post: any) => (
            <RelatedPostList post={post} />
          ))}
        </div>
      ) : (
        <p class="text-base font-light text-slate-500">
          No related posts available.
        </p>
      )
    }
  </section>

  <!-- other posts -->
  <section class="container max-w-screen-lg lg:px-20 px-6 pt-16 pb-48">
    <h2 class="lg:mb-6 mb-3 text-xl font-semibold text-slate-700">
      Other Posts
    </h2>
    {
      otherPosts.length > 0 ? (
        <div class="grid lg:grid-cols-2 gap-6 mt-1">
          {otherPosts.map((post: any) => (
            <RelatedPostList post={post} />
          ))}
        </div>
      ) : (
        <p class="text-base font-light text-slate-500">
          No other posts available.
        </p>
      )
    }
  </section>

  <!-- back to top button -->
  <a href="#" class="container fixed flex justify-end bottom-6 right-6">
    <div class="rounded-full w-fit bg-slate-500 text-white shadow-xl p-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 15.75 7.5-7.5 7.5 7.5"></path>
      </svg>
    </div>
  </a>
</BlogLayout>
